<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium">
 <test thread-count="5" name="Test">
 
 <groups>
 <run>
<!--  <include name = "smoke"></include>  -->
 </run>
 </groups>
<classes>
<!-- <class name = "com.apps.testpackage.Demo"></class> -->
<!-- <class name = "com.apps.testpackage.AnnotationnsDemo"></class> -->
<!-- <class name = "com.apps.testpackage.FirstTestngClass"></class> -->
<class name = "com.apps.testpackage.ActiTimescripts"></class>
<!-- <class name = "com.apps.testpackage.GroupTestngClass"></class> -->
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
